WCF_PracticeExam_01_Solution/WCFPrøveeksamenTest/Service References/AuctionHouse/AuctionHouseService1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/WcfWebApplication" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/WcfWebApplication" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfAuktionsVare">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="AuktionsVare" nillable="true" type="tns:AuktionsVare" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfAuktionsVare" nillable="true" type="tns:ArrayOfAuktionsVare" />
  <xs:complexType name="AuktionsVare">
    <xs:sequence>
      <xs:element minOccurs="0" name="BidCostumPhone" type="xs:int" />
      <xs:element minOccurs="0" name="BidCustomName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="BidPrice" type="xs:int" />
      <xs:element minOccurs="0" name="BidTimeStamp" type="xs:dateTime" />
      <xs:element minOccurs="0" name="ItemDescription" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ItemNumber" type="xs:int" />
      <xs:element minOccurs="0" name="RatingPrice" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="AuktionsVare" nillable="true" type="tns:AuktionsVare" />
  <xs:complexType name="BidObject">
    <xs:sequence>
      <xs:element minOccurs="0" name="CustomName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CustomPhone" type="xs:int" />
      <xs:element minOccurs="0" name="ItemNumber" type="xs:int" />
      <xs:element minOccurs="0" name="Price" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="BidObject" nillable="true" type="tns:BidObject" />
</xs:schema>