WCF_PracticeExam_01_Solution/WCFPrøveeksamenTest/Service References/AuctionHouse/AuctionHouseService2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:6739/AuctionHouseService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/WcfWebApplication" />
  <xs:element name="GetWares">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetWaresResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/WcfWebApplication" minOccurs="0" name="GetWaresResult" nillable="true" type="q1:ArrayOfAuktionsVare" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetWare">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="IDNr" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetWareResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/WcfWebApplication" minOccurs="0" name="GetWareResult" nillable="true" type="q2:AuktionsVare" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GiveBid">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/WcfWebApplication" minOccurs="0" name="bid" nillable="true" type="q3:BidObject" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GiveBidResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GiveBidResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>